@model GTL.View.Models.LoanModel

@{
    ViewBag.Title = "Loan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>A loan will be created with the following books:</h2>

@using (Html.BeginForm("Create", "Loan", FormMethod.Post))
{
    
    @Html.Label("ISBN: ")
    @Html.TextBoxFor(ISBN => Model.ISBN)
    <br />
    @Html.Label("Title Name: ")
    @Html.TextBoxFor(TitleName => Model.TitleName)
    <br />
    @Html.Label("Loan Date: ")
    @Html.TextBoxFor(LoanDate =>Model.LoanDate)
    <br />
    @Html.Label("Add a members SSN: ")
    @Html.TextBoxFor(m => m.memberSSN);
    <br />
    <input type="submit" value="Create" />
}


